# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dependancies
external/imgui/
external/imgui-sfml/
external/implot/
external/PerlinNoise/
!external/imgui/imconfig.h

# Temporary file
**~*
**imgui.ini
**log.csv
*.log

# Doxygen
dox/
